/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);


  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --scissors-color: hsl(39, 89%, 49%);
  --scissors-color-opacity: hsla(39, 89%, 49%, .7);

  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --paper-color: hsl(230, 89%, 62%);
  --paper-color-opacity: hsla(230, 89%, 62%, .7);

  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --rock-color: hsl(349, 71%, 52%);
  --rock-color-opacity: hsla(349, 71%, 52%, .7);

  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --lizard-color: hsl(261, 73%, 60%);
  --lizard-color-opacity: hsla(261, 73%, 60%, .7);

  --spock-gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  --spock-color: hsl(189, 59%, 53%);
  --spock-color-opacity: hsla(189, 59%, 53%, .7);

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  --border-radius: 10px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--radial-gradient);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--radial-gradient);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

* {
  transition: all .2s ease-in-out;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-image: linear-gradient(var(--color-background))!important;

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
