@import './base.css';

#app {
  position: relative;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 auto;
  padding-top: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 5rem;
}

body {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
  } */
}
